In [1]:
%load_ext autoreload
%autoreload 2

from pandas import read_excel
import csv
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl
from sklearn.datasets import load_iris
from sklearn.decomposition import PCA
from sklearn.neighbors import KNeighborsClassifier
from modAL.models import ActiveLearner

import functions as fun

In [2]:
# Loading data sets
specs = pd.read_csv('/home/jovyan/covid-data/SPECS_ready_2.csv')
sss_batchA = pd.read_csv('/home/jovyan/covid-data/COVID_BatchA_ready_2.csv')

In [3]:
#specs.rename(columns = {'ID_library':'ID'}, inplace = True)
#sss_batchA.rename(columns = {'ID_covid':'ID'}, inplace = True)

In [4]:
df = specs[['ID_library', 'SMILES']]
df.head()

  ID_library                                             SMILES
0  CBK309065  CC1=NN=C2N1C(SC(C)=C3C)=C3C(C4=CC=C(Cl)C=C4)=N...
1  CBK041145  [H][C@@]12COP([O-])(=O)O[C@@]1([H])[C@@H](O)[C...
2  CBK200894          CC1CS(=O)(=O)CCN1N=Cc1ccc(o1)[N+]([O-])=O
3  CBK309015  O=C(N1)SC(CC2=CC=C(OCC(N3C)=NC4=C(C=CC=C4)C3=O...
4  CBK041791           Fc1ccc(cc1)C(c2ccccc2)(c3ccccc3F)n4ccnc4

In [5]:
sss_batchA_labesl = sss_batchA[['ID_covid', 'Intensity_MeanIntensity_illumMITO_cells.1','Labels']]
sss_batchA_labesl.head()

     ID_covid  Intensity_MeanIntensity_illumMITO_cells.1  Labels
0  Uninfected                                   0.006205       0
1  Uninfected                                   0.006724       0
2  Uninfected                                   0.005685       1
3  Uninfected                                   0.004975       1
4  Uninfected                                   0.004517       1

In [11]:
ids = sss_batchA_labesl["ID_covid"]
bla = sss_batchA_labesl[ids.isin(ids[ids.duplicated()])]#.sort("ID")

In [12]:
bla.tail(10)

       ID_covid  Intensity_MeanIntensity_illumMITO_cells.1  Labels
3456  CBK290536                                   0.009106       0
3457  CBK290536                                   0.007769       0
3472  CBK290510                                   0.009179       0
3473  CBK290510                                   0.010019       0
3486  CBK290495                                   0.009781       0
3487  CBK290495                                   0.008264       0
4742  CBK113463                                   0.008385       0
4743  CBK113463                                   0.008973       0
5174  CBK041510                                   0.009491       0
5175  CBK041510                                   0.010219       0

In [6]:
#for index, row in df.iterrows():
#    compound = row['ID_library']
#    print(compound)
#    aux = sss_batchA_labesl.index[sss_batchA_labesl['ID_covid'] == compound].tolist()
#    print(sss_batchA_labesl.iloc[[aux[0]]])
#    if index == 1:
#        break